  @import '../../node_modules/tachyons/css/tachyons.min.css';
  /*
		Tachyons overrides
	*/

  .link:focus {
    outline: none;
  }

  .blue {
    color: #0000ff;
  }

  .code {
    font-family: 'Source Code Pro', 'Lucida Console', monospace;
    font-weight: 400;
  }
  /*
		React animation add ons
	*/

  .example-enter {
    opacity: 0.01;
  }

  .example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }

  .example-leave {
    opacity: 1;
  }

  .example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }
  /*
		custom
	*/

  .astloch {
    font-family: 'Astloch', 'Source Code Pro', monospace;
    font-weight: 200;
  }

  .pr0 {
    padding: 0;
  }

  @media screen and (min-width: 30em) {
    .pr0-ns {
      padding: 0;
    }
  }

  @media screen and (min-width: 30em) and (max-width: 60em) {
    .pr0-m {
      padding: 0;
    }
  }

  @media screen and (min-width: 60em) {
    .pr0-l {
      padding: 0;
    }
  }

  .flex-nowrap {
    flex-wrap: nowrap;
  }

  @media screen and (min-width: 30em) {
    .flex-nowrap-ns {
      flex-wrap: nowrap;
    }
  }

  @media screen and (min-width: 30em) and (max-width: 60em) {
    .flex-nowrap-m {
      flex-wrap: nowrap;
    }
  }

  @media screen and (min-width: 60em) {
    .flex-nowrap-l {
      flex-wrap: nowrap;
    }
  }

  .flex-reverse {
    flex-direction: column-reverse;
  }

  @media screen and (min-width: 30em) {
    .flex-reverse-ns {
      flex-direction: column-reverse;
    }
  }

  @media screen and (min-width: 30em) and (max-width: 60em) {
    .flex-reverse-m {
      flex-direction: column-reverse;
    }
  }

  @media screen and (min-width: 60em) {
    .flex-reverse-l {
      flex-direction: column-reverse;
    }
  }

  #main {
    min-height: 100vh;
  }
  /** {
	outline: none;
	box-sizing: border-box;
}

a {
	font-weight: 400;
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

h1 a:hover {
	text-decoration: none;
}

.white {
	color: #fff;
}

b, strong {
	opacity: 1;
}

img {
	width: 100%;
}

ul {
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

ul li, ul li h1 {
	display: inline;
	list-style: circle;
}

section {
	display: flex;
    justify-content: space-between;
}

article {
	background: #fff;
	padding: 10px;
}

#main {
	transition: background 1s;
}

#client article {
	flex: 0 1 45%;
}

#personal article {
	flex: 0 1 30%;
}

.page {
	min-height: 100vh;
}

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 8em 0;
}

.homepage .container {
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.homepage {
	background: #4e64ff;
	color: #b8c1ff;
}

.homepage nav a {
	color: #fff;
}

.homepage .content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.codepage {
	background: #f7f7f7;
	color: #333;
}

#title-box {
	width:500px;
	line-height: 1.5em;
}

#title-box h2 {
	opacity: 0.8;
}

.container img#computer {
	width: 400px;
	height: 400px;
}*/
